Source: qtwebbrowser
Section: user/utilities
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 debhelper,
 qt5-qmake,
 libqt5webview5-dev,
 qtwebengine5-dev
Standards-Version: 3.7.2

Package: qtwebbrowser
Architecture: any
Multi-arch: same
Depends:
 libqt5gui5,
 libqt5core5a,
 ${shlibs:Depends},
 ${misc:Depends},
 qml-module-qtquick-controls,
 qml-module-qtwebview,
 qml-module-qtquick-virtualkeyboard,
 qml-module-qtquick-dialogs,
 qml-module-qtquick-layouts,
 qml-module-qtwebengine,
 qml-module-qt-labs-folderlistmodel,
 qtvirtualkeyboard-plugin,
 qml-module-qt-labs-settings,
Description: A touch frendly Web Browser
XB-Maemo-Display-Name: QTWebBrowser
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAADO0lEQVRYw9WZ63HbOhCFPympIG5h
 UUNqWLXgGohiiBrSgrcHt4CtwTXkB8CI4iUtAlTkm53RaDQiyIODs0+eeIANb4MAAbx+31gGcSCn
 S/KjzzodAKngCigg4c71uXw5YCCWLsmeAnh40wGIAeQIU7mAH9PF0l8BXBkdjwJdBy5xL+OnnayO
 wBD4O1blktLF4iHAxZncHs3qHbb1M+c8b4MdnwqWEl4E3GrU2Q9YxyzuaqBPA7sX9BbDIyDuSkb5
 KtBr/31bYXcEXqffHx8BfsAL/lTQL/BDXsPL+69b4N8WYLWye2NfBfoDfv581ff3X+++JYlxa/FX
 yKOEUR9Xw1pl9+3eTUSMwFaMFyTcRmvPuWbkQ+EuThnx+zyS7VnsriDcgJagBFFkLQIKOE52w7P1
 Yo5A+sOwjlmuCWefTUxrGBDR2YauNwqAyHyzhuXUybJc0iXZ99kOmsxRYlCkIjJ30trpS8npKoKI
 ohIwix2QXQGbnK7Zm4YgiAgORHOSbUjVIVm5xovK0TD0kKwApx45qMBQk2A0x32vjGDU6URSk6Zz
 9ZbzSodwH3C4ysAbAoB7WQMQRDtCHOFMY3EjcnWklNvPdVpTIkprqeJy7gvmha2u8Or8OZVlzN7z
 +C5J0Cr6B64984/ZuXfDR9ql8EyG88z5unqRmdOWOqPt8edW1/GZ0/R0pdOakkZavVa8SxKWvSYQ
 uakV9oRErQuyW8/J5rPF0LxV8/IBiLoPtEi5diqCOio3T5fkk4abV6dcspxQ0u2gG5oWGLRcI8fc
 zg6Vl9dKTG5668/Ly5nDuWM5NkiilJfzjuOtp2qbiiEN29JwL7o3vy2A9oLO4OlioatFuqfTlVnr
 fwqkVtDzFum06JozT5r07AU9Z3ctcUSeZO6lli7gBQ3jVg0cNzOdxWBTs/c/AZ2WY9jTxmyt2wEf
 JY+lFO7VEvHwMOEQ04PDekuyOR+usdl44ri1Mu0OGk4nb6rWasrWnix4gGmL5ptgP2V4wfa4dzJ0
 wJLFcOyVwQL0NNl8tETKaKNEKB4GeAF8eEAUscpqk+S6XyxWp4wVuDSwacBYfaTZTo840wo+zICH
 RUflQO4FObffl8mM6IYBQBwAAAAASUVORK5CYII=
